<nav>
    <ul>
        <li class = "navbar_element"><%= link_to "Home", home_index_path, class: "navbar_elements" %></li>
        <li class = "navbar_element"><%= link_to "Posts", posts_path, class: "navbar_elements" %></li>
        <li class = "navbar_element"><%= link_to "Categories", categories_path, class: "navbar_elements" %></li>
        <li class = "navbar_right_element" ><%= link_to "About", abouts_path, class: "navbar_elements" %></li>
    </ul>
</nav>
<h1 id="page_title">Welcome to AlphaBlog</h1>
<br>
<div align="center">
    <small>
    If you want to comment,post,disqus topics and more <br>
    Sign Up from the button below
    </small>
</div>
<div align="center">
    <br>
    <div class="btn btn-success btn-lg>
        <%= link_to  "Sign Up", "#" %>
    </div>
</div>