<table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
              <% obj.each do |post| %>
              <div class="well col-xs-8 col-xs-offset-2">
                <header>
                  <p class="date"><%= post.created_at.strftime('%A, %b, %d') %></p>
                  <h1 class = "post_title"><%= post.title %></h1>
                  <h5 class = "content"><%= truncate post.content, length: 50 %></h5>
                  <h6 class = "buttons"><%= link_to "Read More", post , class: "btn btn primary " %></h6>
                </header>
                <div class="post-info-time-user">
                  <small>
                    Created by:<%= post.user.username if post.user %> |  
                    Last update:<%= time_ago_in_words(post.updated_at) %> 
                  </small>
                </div>
              </div>
                  <hr>
              <% end %>
      </table>