<h2 class = "posts_header">These are all the latest posts</h2>
<hr>
<% @posts.each do |post| %>
	<div class="well col-xs-8 col-xs-offset-2">
		<p class="date"><%= post.created_at.strftime('%A, %b, %d') %></p>			
		<h4 class = "post_title"><%= post.title.capitalize %></h4>
			<br>
		<h5 class = "content"><%= truncate post.content, length: 50 %></h5>
			<br>
			<hr>
		<h6 class = "buttons read_more"><%= link_to "Read More", post , class: "btn btn-primary " %></h6>
		<div class="post-info-time-user">
			<small>
				Created by:<%= post.user.username if post.user %> |  
				Last update:<%= time_ago_in_words(post.updated_at) %> 
			</small>
		</div>
	</div>
<% end %>