<%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-10">      
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Enter Title" , class: "form-control"%>
  </div
    <br>
    <br>
    <br>
  <div class="form-group col-sm-10">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 5, placeholder: "Enter Content of the Post", class: "form-control" %>
  </div>
    <br>
    <br>

<div class="form-group col-sm-10">
  <%= form.submit %>
</div>
<% end %>
