<%= render  "partials/errors", obj: @post %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |form| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :title %>
        </div>
        <div class="col-sm-8">
          <%= form.text_field :title, placeholder: "Enter Title" , class: "form-control"%>
        </div>      
      </div
        <br>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :content %>
        </div>
        <div class="col-sm-8">
          <%= form.text_area :content, rows: 10, placeholder: "Enter Content of the Post", class: "form-control" %>
        </div>
      </div>
      <br>
       <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :Category %>
        </div>
        <div class="col-sm-8">
            <%= form.select :category_id, options_for_select(Category.all.collect{ |c| [c.title, c.id]}
            )%>
        </div>
      </div>
    </div>
       <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= form.submit class: "btn btn-success btn-lg" %>
          <%= link_to 'Dismiss and go back', posts_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
</div>
<% end %>
