<% if @post.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= "-" + message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |form| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :title %>
        </div>
        <div class="col-sm-8">
          <%= form.text_field :title, placeholder: "Enter Title" , class: "form-control"%>
        </div>      
      </div
        <br>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :content %>
        </div>
        <div class="col-sm-8">
          <%= form.text_area :content, rows: 10, placeholder: "Enter Content of the Post", class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= form.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
</div>
<% end %>
