<!DOCTYPE html>
<html>
  <head>
    <title>Kaloyan Kostadinov - Junoir Ruby on Rails Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    	<link href="//fonts.googleapis.com/css?family=Rammetto One:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <header class = "header">
      <%= render 'partials/header' %>
  </header>
  <br>
  <% if flash.any? %>
    <%= render  "partials/messages" %>
    <% end %>
  <body class = "clearfix">  	
      <div class = "container">
        <%= yield %>
      </div>
  </body>
    <br>
  <footer>
    <%= render 'partials/footer' %>
  </footer>
</html>
